<div class="container">
  <div class="d-flex justify-content-between align-items-center pt-5 pb-5">
    <h1 class="text-light">BLA BLA BLA</h1>
    <%= link_to "Anunciar um produto", new_user_product_path(@user), class: "btn btn-success" %>
  </div>
  <ul class="row list-unstyled">
    <% @products.each do |product| %>
      <li class="col-6">
        <%= image_tag(product.url.presence || 'https://res.cloudinary.com/dhkyacden/image/upload/v1732737091/zqifhneognovtfqc1nl9.png', width: 200) %>
        <h2><%= product.name %></h2>
        <p>Marca: <%= product.brand %></p>
        <p>R$ <%= product.price %></p>
        <%= link_to "Editar Anuncio", edit_user_product_path(@user, product), class:"btn btn-danger text-light rounded-4" %>
        <%= link_to "Deletar Anuncio", user_product_path(@user, product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger text-light rounded-4" %>
      </li>
    <% end %>
  </ul>
</div>
