<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-container">
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item dropdown">
              <%= image_tag "menu.png", class: "avatar ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-toggle div-dropdown">
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                  <%= link_to image_tag("perfil.png") + " Minha Conta", my_account_path(current_user), class: "dropdown-item" %>
                  <%= link_to image_tag("grid.png") + " Meus produtos", user_products_path(current_user), class: "dropdown-item" %>
                  <%#= link_to "#", class: "dropdown-item" do %>
                  <%#= image_tag "top.png"  Top 20 %>
                  <%# ISSO ESTÃ COMENTADO PRA PODER SER VERIFICADO DEPOIS end %>

              <% else %>
                <%= link_to image_tag("perfil.png") + " Login", new_user_session_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to image_tag("anunciar.png") + " Anunciar", new_user_session_path, class: "dropdown-item" %>
              <%= link_to image_tag("https://cdn-icons-png.flaticon.com/512/38/38464.png") + " GYM Moviment", "https://gym-moviment-ea7f109defa9.herokuapp.com/", class: "gym-moviment", target: "_blank", rel: "noopener" %>
              <%= link_to image_tag("contato.png") + "  Contato", contact_new_path, class: "dropdown-item" %>
              <%# link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "logo-img" %>
    <% end %>

  <div class="nav-item position-relative">
    <%= link_to carts_path, class: "nav-link" do %>
      <%= image_tag "cart.png" %>
      <% if @current_cart && @current_cart.total_items.positive? %>
          <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
            <%= @current_cart.total_items %>
          </span>
        <% end %>
    <% end %>
  </div>
  </div>
</div>
