<h1 class="text-center mt-3 mb-3">Meu Carrinho</h1>

<div class="container">
  <table id="table-cart" class="table">
    <thead>
      <tr>
        <th class="text-center">Produto</th>
        <th class="text-center">Qtd.</th>
        <th class="text-center">Preço</th>
        <th class="text-center">Remover</th>
      </tr>
    </thead>
      <tbody class="tbody-cart">
        <div>
          <% @cart.cart_items.each do |cart_item| %>
          <tr class="product-row">
            <td id="cart-td" class="align-middle text-center">
              <div class="product-info">
                <div class="product-name"><strong><%= cart_item.product.name %></strong></div>
                <div class="product-image">
                  <span class="imagens-cart">
                    <% if cart_item.product.image.attached? %>
                      <%= cl_image_tag cart_item.product.image.key, width: 50 %>
                    <% elsif cart_item.product.url.present? %>
                      <%= image_tag cart_item.product.url, width: 50 %>
                    <% else %>
                      <%= image_tag 'https://camo.githubusercontent.com/e7260310f5d1a8a9473a908e039f348a459078b0ba1876d12fbe0a26c8a0e1a7/68747470733a2f2f7a7562652e696f2f66696c65732f706f722d756d612d626f612d63617573612f33363664616462316461323032353338616531333332396261333464393030362d696d6167652e706e67' %>
                    <% end %>
                  </span>
                </div>
              </div>
            </td>
            <td class="cart-back align-middle text-center"><%= cart_item.quantity %></td>
            <td class="cart-back align-middle text-center">R$ <%= number_to_currency(cart_item.total_price, unit: "") %></td>
            <td class="cart-back remove-table align-middle text-center">
              <%= button_to remove_product_carts_path(product_id: cart_item.product.id), method: :delete, data: { confirm: "Tem certeza que deseja remover este produto?" }, class: "btn btn-danger btn-sm w-50" do %>
                <i class="fa-solid fa-xmark text-light"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </div>
      </tbody>
  </table>


  <!-- Mostrar o preço total do carrinho -->
  <p class="text-end"><strong>Total:</strong> R$ <%= number_to_currency(@cart.total_price, unit: "") %></p>
  <div id="buttons-cart" class="d-flex justify-content-between">
    <%= link_to "Finalizar Compra", new_checkout_path, class: "btn btn-success rounded-4 text-light" %>
    <%= link_to "Olhar mais produtos", products_path, class: "btn btn-success rounded-4 text-light" %>
  </div>
</div>
