<div class="container">
  <div class="d-flex container-show align-items-center text-center mt-3">
    <div class="d-flex gap-2 ms-4">
      <div>
        <h1><%= @product.name %></h1>
        <p>Categoria: <%= @product.category %></p>
      </div>
      <% stars = rand(1..5) %>
        <% stars.times do %>
          <i class="fa-solid fa-star mt-2 text-danger"></i>
        <% end %>
    </div>
    <% if @product.image.attached? %>
      <%= cl_image_tag @product.image.key, width: 200 %>
     <% elsif @product.url.present? %>
      <%= image_tag @product.url, width: 200 %>
    <% else @product.image.attached? %>
      <%= image_tag 'https://camo.githubusercontent.com/e7260310f5d1a8a9473a908e039f348a459078b0ba1876d12fbe0a26c8a0e1a7/68747470733a2f2f7a7562652e696f2f66696c65732f706f722d756d612d626f612d63617573612f33363664616462316461323032353338616531333332396261333464393030362d696d6167652e706e67', width: 200 %> <!-- ou uma imagem padrão -->
    <% end %>
    <p class="fs-4">Preço: <%= number_to_currency(@product.price, unit: "R$", separator: ",", delimiter: ".", precision: 2) %></p>
    <div class="infos-vendedor text-start mb-4 w-100 text-center">
      <h6 class="fs-6 fw-bold mb-3">Informações do vendedor</h6>
      <p class="verify-container">Vendido por: <span class="fw-bold"><%= @product.user.nome %></span><i class="fa-regular fa-circle-check" id="verify"></i></p>
      <p>Email: <span class="fw-bold"><%= @product.user.email %></span></p>
    </div>
    <% if user_signed_in? %>
        <%= form_with url: add_product_carts_path(cart_id: current_user.cart.id, product_id: @product.id), method: :post, local: true do %>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantidade:</label>
          <select id="quantity" name="quantity" class="form-select">
            <% (1..10).each do |q| %>
              <option value="<%= q %>"><%= q %></option>
            <% end %>
          </select>
        </div>
        <%= button_to "Adicionar ao Carrinho", add_product_carts_path(cart_id: current_user.cart.id, product_id: @product.id), method: :post, remote: true, class: "btn btn-danger text-light rounded-4 mb-4" %>
      <% end %>
    <% end %>
  </div>
</div>
