<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GymSuplement </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>

    <!-- Alerts Flashes -->
    <%= render "devise/shared/flashes" %>
  </head>

  <body>
    <!-- Libera a seção ou não se o usuário estiver logado -->
    <header>
    <% if user_signed_in? %>
      <nav>
        <%= link_to "Minha Conta", edit_user_registration_path %>
        <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete} %>
      </nav>
    <% else %>
      <nav>
        <%= link_to "Entrar", new_user_session_path %>
        <%= link_to "Registrar", new_user_registration_path %>
      </nav>
    <% end %>
  </header>

    <p><%= greeting %></p>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/navbar" %>
        <%= yield %> <!-- Aqui o conteúdo das páginas será renderizado -->
    <%= render "pages/footer" %>
   </div>
  </body>
</html>
