<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GymSuplement </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <!-- Layout com menu lateral -->
   <div class="container-fluid">
    <div class="row">
      <!-- Conteúdo Principal -->
      <main class="col-md-10 ms-sm-auto col-lg-10 px-4">
        <%= yield %> <!-- Aqui o conteúdo das páginas será renderizado -->
      </main>

    </div>
   </div>

  </body>
</html>
